@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Gruppo&family=Koulen&display=swap');

body{
    margin: 0;
    padding: 0;
    letter-spacing: 0.2rem;
    font-family: 'Gruppo', cursive;
}

*{
    margin: 0;
    padding: 0;
}

.top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    z-index: 1;
    font-size: 50px;
    color: black;
    font-weight: bold;
}


.loading{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}