.userLayout nav{
    background-color: powderblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 15vh;
}

.userLayout nav a{
    margin: 10px;
}

.middle{
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 85vh;
}

.sidebar{
    background-color: blue;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.sidebar a{
    margin: 5px;
}

.sidebar a:hover{
    background-color: pink;
}