.layout4{
    background-color: black;
    color: white;
}

.layout4 nav{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout4 nav a{
    margin: 8px;
    color: white;
    text-decoration: none;
}


.layout4 .banner{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}